doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:image', content='http://laj.lv/img/logo.png')
    title Michael Lajlev &middot; Digital product designer
    link(rel='shortcut icon', href='img/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,900', rel='stylesheet', type='text/css')  
    link(rel='stylesheet', href='style.css')
  body
    //- h1 I peeled my orange that was so bright against the gray of December
    .wrapper
      section.about
        blockquote
          p= desc
          footer
            img(src='img/lajlev.jpg', alt='#{name}')
            a(href='#{links[0].url}')
              span.name= name
              span.title= title
      //-.about
        
      section.timeline
        h2 timeline
        ul
          each entry in timeline
            li.entry
              .year #{entry.to} · #{entry.from}
              h3
                span.title= entry.title
                span @
                a.org-name(href='#{entry.orgUrl}') #{entry.orgName}
              p= entry.desc

              each reco in entry.recomendations

                blockquote
                  p= reco.desc
                  footer
                    img(src='img/#{reco.image}', alt='#{reco.name}')
                    a(href='#{reco.url}', title='#{reco.urlTitle}')
                      span.name= reco.name
                      span.title= reco.title
      //-.timeline
      
      section.footprint
        h2 Footprint
        ul
          each link in links
            li
              a(href='#{link.url}') #{link.name}
      //-.footprint
    //-.wrapper
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js')
  script(src='scripts/trianglify.js')
  script(src='scripts/main.js')
  //- body
//- html
